
@{
    ViewBag.Title = "Petty Cash";
}
<div class="col-sm-9 nopadding">
    <div id="div-table">

        <div class="row">
        </div>
        <h1 class="red list-inline"><span class="gray"></span> Petty Cash Listing <button id="add_record" onclick="javascript:AddEditRecord(0);" title="Add New Record" class="pull-right btn btn-lg btn-theme bg_red"> Add New</button></h1>
        <div class="clearfix"></div>
        <div class="row mr15">
            <div class="col-sm-12">
                <div style="border: solid 1px #eaeaea; padding: 15px 0px;">
                    <div class="col-sm-2 nopadding"></div>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <input id="datepicker_from" class="datepicker form-control" placeholder="Filter By From Date" type="datetime">
                            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <input id="datepicker_to" class="datepicker form-control" placeholder="Filter By To Date" type="datetime">
                            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                    <div class="col-sm-2 nopadding text-right">
                        <button class="btn btn-theme btn-blue" id="btnSearch" type="button">Search</button>
                    </div>
                    <div class="clearfix"></div>
                </div>
                </div>
            <div class="divider"></div>
        </div>
        <div class="row">
            <div class="col-sm-12">

                <div id="dialog_confirm" title="Delete the Selected Record?">
                    <p>
                        <span class="icon icon-warning-sign"></span>
                        Selected Record will be permanently deleted and cannot be recovered. Are you sure?
                    </p>
                </div>
                <!-- BEGIN FORM-->

                <table id="tblPettyCash" class="my_data_table data-table table table-striped table-bordered table-responsive table-hover">
                    <thead>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th></th>
                            <th>Starting Balance : <span  id="tblPettyCash_OpeningBal"   class="numericCol">0.000</span></th>
                            <th>Close Balance : <span id="tblPettyCash_ClosingBal" class="numericCol">0.000</span></th>
                            <th></th>
                        </tr>
                    <tfoot>
</table>


            </div>
        </div>

        </div>
        <div class="row-fluid">
            <div id="divOperations"></div>
        </div>
        <!-- END FORM-->
    </div>

 
@section Scripts{
    <script type="text/javascript">
        ajaxEnable = false;
        $(document).ready(function () {


            InitializeDialogConfirmation();
            InitializePettyCashList('','');
          
            $('.datepicker').datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: '1900:+10',
                setDate: new Date()
            }) 

            $(".datepicker").datepicker().datepicker("setDate", new Date());

            $("#btnSearch").click(function () {

                oTable.fnDestroy();
                $('#tblPettyCash thead tr, #tblPettyCash tbody tr').remove();
                InitializePettyCashList($("#datepicker_from").val(), $("#datepicker_to").val());

            });
         
                  
        });

        function InitializePettyCashList(fromDate, toDate) {

           
            GenerateDTVersion1('#tblPettyCash', [

                      {
                          "data": "TransactionDate",
                          "sTitle": 'Date',
                          "render": function (data, type, full, meta) {
                              return DateFormat(full.TransactionDate);
                          }
                      },
                      { "data": "Description", "sTitle": "Description" },
                      {
                          "data": "Amount",
                          "sTitle": 'Debit',
                          "sClass": "numericCol",
                          "render": function (data, type, full, meta) {
                              if (full.TransactionType == "Debit" || full.TransactionType == "debit")
                                  return ALCurrencyFormat(data);
                              else
                                  return '';
                          }
                      },
                       {
                           "data": "Amount",
                           "sTitle": 'Credit',
                           "sClass": "numericCol",
                           "render": function (data, type, full, meta) {
                               if (full.TransactionType == "Credit" || full.TransactionType == "credit")
                                   return ALCurrencyFormat(data);
                               else
                                   return '';
                           }
                       },
                        {
                            "data": "PettyCashID",
                            "bSearchable": false,
                            "bSortable": false,
                            "sWidth": "100px",
                            "sTitle": 'Action',
                            "render": function (data, type, full, meta) {
                                return '<a onClick="javascript:DeleteRecord(' + data + ');" data-toggle="tooltip" title="Delete"><button type="button" class="btn btn-action btn-danger"><i class="glyphicon glyphicon-trash"></i></button></a>';
                            }
                        }
            ], '/PettyCash/PettyCashList?fromDate=' + fromDate + '&toDate=' + toDate, {
                "order": [[0, "asc"]], "buttons": [{
                    extend: 'excelHtml5',
                    title: 'Petty Cash',
                    text: '<span class="fa fa-file-excel-o"></span> Excel Export',
                    footer: true,
                    
                    exportOptions: {
                        columns: [0,1, 2,3]
                    }
                }]
            });


            GetOpeningClosingBalance();
        }
      

        function AddEditRecord(id) {
            DTToggler();
            $('#divOperations').load('@(Url.Action("AddEdit", "PettyCash", null, Request.Url.Scheme))?id=' + id, function () {
                var $form = $(this).find('form');
                $.validator.unobtrusive.parse($form);
            });
        }
        

        function DeleteRecord(id) {
          
            $('#hdnUniqueSetUpRecord').val(id);
            $("#dialog_confirm").dialog("open");
            $('.ui-dialog button').blur();// avoid button autofocus
          
        }

        function DeleteConfirmation(obj) {
            if (obj != null) {
                obj.dialog("close");
                $('#loader-wrapper').show();
                $.post("@Url.Action("Delete", "PettyCash")", { id: $('#hdnUniqueSetUpRecord').val() }, function (data, status) {
                    if (data != null) {
                        if (data.Response) {
                            oTable.fnDraw(false);
                        }
                        ALGritter('', data.Message, false, false, data.MessageClass);

                    }
                    $('#hdnUniqueSetUpRecord').val('');
                });

                GetOpeningClosingBalance();
            }
        }

        function GetOpeningClosingBalance() {
            
            var frDate = $("#datepicker_from").val();
            var tDate = $("#datepicker_to").val();

            $.post("@Url.Action("GetOpeningClosingBalance", "PettyCash")", { fromDate: frDate, toDate: tDate }, function (data, status) {
                    if (data != null) {
                       
                        $("#tblPettyCash_OpeningBal").html(ALCurrencyFormat(data.OpeningBalance));
                        $("#tblPettyCash_ClosingBal").html(ALCurrencyFormat(data.ClosingBalance));
                    }
                   
                });
            }
       
    </script>
}
