@{
    ViewBag.Title = "Home Page";
}
<div class="col-sm-9 nopadding">
    <div class="row">
        <h1 class="red text-center">Corporate Finance Modules<br><span style="font-size: 8pt;">Lets Get Startted, the New Experience of Corporate Finance</span></h1>
        <div id="metroaqui" class="metro-panel"></div>
        <div class="clearfix"></div>
    </div>
    </div>
    @section Scripts{
        <script type="text/javascript">
            $(document).ready(function () {
                $("#metroaqui").AddBtnMy('bt4', '12', 'blue', 'money', 'Petty Cash', '@Url.Action("Index", "PettyCash")');
                // $("#metroaqui").AddBtnMy('bt4', '4', 'black', 'file-text', 'ACH/Wire Log Sheeet', '#');
                $("#metroaqui").AddBtnMy('bt4', '6', 'yellow', 'address-book', 'Bank Position', '@Url.Action("Index", "BankPosition")');
                // $("#metroaqui").AddBtnMy('bt4', '4', 'cyan', 'pie-chart', 'Collection And Payments Reports', '#');
                //   $("#metroaqui").AddBtnMy('bt4', '3', 'purpal', 'sitemap', 'Intercompany Recon Sheet ', '#');
                //  $("#metroaqui").AddBtnMy('bt4', '3', 'red', 'line-chart', 'AMEX', '#');
                //  $("#metroaqui").AddBtnMy('bt4', '3', 'green', 'bank', 'Bank Recon Sheet', '#');
                $("#metroaqui").AddBtnMy('bt4', '6', 'sky', 'chain', 'Compliance Management', '@Url.Action("Index", "Compliance")');
                $("#metroaqui").AddBtnMy('bt4', '6', 'red', 'line-chart', 'AMEX Management', '@Url.Action("Index", "CardExpense")');
                $("#metroaqui").AddBtnMy('bt4', '6', 'gary', 'bar-chart', 'Report', '#');
                //   $("#metroaqui").AddBtnMy('bt4', '4', 'orange', 'check-square-o ', 'Check Inventory / Check Log Sheet', '#');


            });
        </script>
    }
