@model CorporateAndFinance.Core.ViewModel.ReportVM
@using ReportViewerForMvc;

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()



    <div class="col-sm-9 ">
        <div id="div-table">
            <div class="row">
            </div>
            <div class="clearfix"></div>
            <div class="row mr15">
                <div class="col-sm-12">
                    <div class="box">
                        <div class="box-header with-border">

                            <div class="col-sm-3">
                                <div class="input-group">
                                    <input id="FromDate" name="FromDate" value="@Model.FromDate" class="datepicker form-control" placeholder="Filter By From Date" type="datetime">
                                    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <input id="ToDate" name="ToDate" value="@Model.ToDate" class="datepicker form-control" placeholder="Filter By To Date" type="datetime">
                                    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                            <div class="col-sm-2 nopadding text-left">
                                <button class="btn btn-theme btn-blue" id="btnSearch" type="submit">Go</button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="divider"></div>
            </div>
            <div class="row">
                <div class="col-sm-12 ">

                    <div id="reportView" class="table-responsive">
                        @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer, new { style = "border: none; ", scrolling = "yes", width = "100%" })
                    </div>



                </div>
            </div>

        </div>
        <!-- END FORM-->
    </div>


}


@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {

            $('.datepicker').datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: '1900:+10',
                setDate: new Date()
            })

        });


    </script>
}


